.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    background-color: $colorNavbar;

    .headerWrapper {
        display: flex;
        align-items: center;
    }

    .icon {
        border: 1px solid $colorWhite;
        padding: 5px;
        border-radius: 5px;
    }

    .header {
        font-size: 32px;
        color: $colorWhite;
        font-weight: bolder;
        margin-left: 10px;
    }

    .navItemWrapper {
        display: flex;
        align-items: center;
    }

    .navItem {
        margin-left: 25px;
        color: $colorWhite;
        font-weight: bolder;
    }

    .userMenu {
        position: relative;
        min-width: 80px;
        font-size: 14px;
        font-weight: bold;
        color: $colorWhite;
        margin-left: 10px;
        .imageWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
            .dropIcon {
                margin-left: 10px;
                height: auto;
                font-size: 16px;
            }
        }
        .content {
            display: none;
            position: absolute;
            padding: 10px;
            background-color: $colorNavbar;
            border-radius: 5px;
            z-index: 1;
            .menuItem {
                cursor: pointer;
                margin: 10px 0;
                text-align: center;
                color: $colorWhite
            }
            .menuItem:hover {
                color: $colorYellowMain;
            }
        }
    }
    .userMenu:hover {
        .content {
            display: block;
        }
        .imageWrapper .dropIcon {
            color: $colorYellowMain;
        }
    }

    .cart {
        display: flex;
        align-items: flex-start;
        .notify {
            font-size: 12px;
            padding: 2px 5px;
            color: $colorWhite;
            font-weight: bold;
            border-radius: 50%;
            background-color: red;
        }
    }
}